# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.opensdf
*.sdf
*.sln
*.suo
*.obj
*.tlog
SimpleLabel/debug/
SimpleLabel/release/
SimpleLabel/GeneratedFiles/
*.vcxproj
*.filters
*.pdb
*.exe
SimpleLabelTests/debug/
SimpleLabelTests/release/
*.user
*.rc
ipch/
